/*
* name: style-amblyopia.css
* author: gemgin
* addTime: 2013.07.19
* editTime:
* description: https://github.com/gemgin/AmblyopiaTool
*
***/
body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font: 12px Arial, Helvetica;
    color: #000;
}

a:link
{
    color: #0066CC;
    text-decoration: none;
}
a:active
{
    color: #0000FF;
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
.page-title
{
    font-size: 18px;
    height:30px;
    line-height:30px;
    text-indent:15px;
    font-weight: bold;
    color: #333;
    background-color: #edf4f9;
    text-align: left;
    font-family:微软雅黑;
}
.td_title_bg
{
    font-size: 16px;
    font-family: "宋体";
    text-indent: 20px;
    line-height: 30px;
    text-align: left;
    background-color: #999999;
    text-align: left;
}
.td_bg
{
    background-color: #d7f1f8;
    text-align: center;
}
.passsge
{
    font-size: 14px;
    font-family: "Microsoft yahei";
    text-indent: 2em;
    line-height: 20px;
    text-align: left;
    margin-top:15px;
}


#container
{
    width: 200px;
}
H1
{
    font-size: 18px;
    color: #0066CC;
    margin: 0px;
    width: 200px;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
}
H1 a
{
    display: block;
    color: #0066CC;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    width: 200px;
    height: 22px;
    text-decoration: none;
    moz-outline-style: none;
    background-repeat: repeat-x;
}
.content
{
    font-size: 14px;
    padding-left: 8px;
    color: #0066CC;
}
.dir-1
{
    font-size: 16px;
    color: #0066CC;
    margin-left: 10px;
}
.dir-2
{
    font-size: 18px;
    color: #0066CC;
    font-weight: bold;
    text-indent: 18px;
    text-decoration: underline;
}
.dir-3
{
    font-size: 14px;
    color: #0066CC;
    font-weight: bold;
    text-indent: 20px;
}
.li
{
    list-style-type: none;
    margin-left: 5px;
}
.li a
{
    margin-left: 10px;
    color: #15447c;
    font-family:微软雅黑;
    font-size:14px;
}
.td_left {
	background-color: #edf4f9;
	border: 1px solid #c5e4f3;
	min-height:610px;
}

.td_right {
	background-color: #fff;
	border: 1px solid #c5e4f3;
	min-height:610px;
}
#header h2 {color: #333;font-size:24px; line-height:40px;font-family:Microsoft Yahei; text-align:left;}